################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cf-dotnet-sdk/v15
/src/CloudFoundry.CloudController.V3.Client/bin/Debug/net5.0
/src/CloudFoundry.CloudController.V3.Client/obj
